*,
::before,
::after {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
  scrollbar-color: #101822 #141f2c;
}

::-webkit-scrollbar {
  background-color: #141f2c;
}

::-webkit-scrollbar-thumb {
  background-color: #101822;
}

:focus {
  outline: none;
}

body {
  overflow: hidden; /* works like `overscroll-behavior: none;` except iOS Safari */
  background: #1b2838; /* for overscrolling in iOS Safari */
}

.container {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  height: 100vh;
}

.container > * {
  padding: 1em;
  overflow-y: scroll;
  font: 1.1em Menlo, Monaco, Consolas, "Courier New", Meiryo, monospace;
  color: #acb2b8;
  overflow-wrap: break-word;
  background: #1b2838;
  border: 0 solid #35465e;
}

.markdown-edit {
  grid-row: 1 / 3;
  resize: none;
  border-right-width: 1px;
  border-radius: 0; /* for iOS Safari */
}

.html-preview {
  font: 1em Arial, Helvetica, Verdana, sans-serif;
  line-height: 20px;
  border-width: 0 0 1px 1px;
}

.html-preview p {
  margin-bottom: 8px;
  white-space: pre-wrap;
}

.html-preview h1 {
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 24px;
  color: #5aa9d6;
}

.html-preview h2 {
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 22px;
  color: #5aa9d6;
}

.html-preview h3 {
  margin-bottom: 8px;
  color: #5aa9d6;
}

.html-preview blockquote {
  display: table;
  padding: 12px 12px 4px;
  margin: 8px;
  border: 1px solid #56707f;
  border-radius: 3px;
}

.html-preview ul,
.html-preview ol {
  margin: 0 0 8px 2em;
  line-height: 18px;
}

.html-preview li input[type="checkbox"] {
  display: none;
}

.html-preview table {
  margin-bottom: 8px;
  border-collapse: collapse;
}

.html-preview tr > * {
  padding: 4px;
  font-size: 12px;
  text-align: left;
  border: 1px solid #4d4d4d;
}

.html-preview pre {
  padding: 12px;
  margin: 8px;
  font: 12px Consolas, monospace;
  white-space: pre-wrap;
  border: 1px solid #535354;
  border-radius: 3px;
}

.html-preview a {
  color: #c6d4df;
  text-decoration: underline;
}

.html-preview a:hover {
  color: #ebebeb;
}

.html-preview hr {
  display: none;
}

.steam-formatting {
  white-space: pre-wrap;
  border-width: 1px 0 0 1px;
}
